h2{
	text-align: center;
	color: yellow;
	background-color: blue;
	margin: 5px;
}

h1{
	background-image: radial-gradient (circle, #dfc58d, #bc9bab);
	color: white;
}

html{
	background-image: linear-gradient (45deg, #4dd7fa, #03e2e8, #f3dfe4);
}

h3{
	text-align: center;
	color: yellow;
	background-color: blue;
	margin: 5px;
}

span{
	color: black;
    background-color: white;
}

a{
	color: white;
	background-color: gray;
}

iframe{
	width: 400px;
	height: 370px;
}

.uk{  
    width: 20px;
    height: 20px;
    background-color: white;
    margin: 5px;
}
