h2{
	text-align: center;
	color: yellow;
	background-color: blue;
	margin: 5px;
}

h1{
	text-align: center;
	color: white;
}

html{
	background-color: black;
}

h3{
	text-align: center;
	color: yellow;
	background-color: blue;
	margin: 5px;
}

span{
	color: black;
    background-color: white;
}

a{
	color: white;
	background-color: gray;
}

iframe{
	width: 200px;
	height: 170px;
}
